# Ignore virtual environment
sheets/
!sheets/email_automation_app.py
!sheets/*.py
sheets/token.json
sheets/*.json
sheets/.env
sheets/__pycache__/
sheets/.ipynb_checkpoints/

# Ignore Streamlit secrets
.streamlit/secrets.toml
openai_test.py

#Ignore .env
.env
gsheet-credentials.json
gmail-credentials.json
token.json
